body{
  margin:0px;
  padding: 0px;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
}
*{
  box-sizing: border-box;
  scroll-behavior: smooth;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: #fff;
}

.main-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.container {
  max-width: 50%;
  padding: 6rem 2rem;
  margin: 0 auto;
}

.swiper_container {
  height: 52rem;
  padding: 2rem 0;
  position: relative;
}

.swiper-slide {
  width: 37rem;
  height: 42rem;
  position: relative;
}

@media (max-width: 500px) {
  .swiper_container {
    height: 47rem;
  }
  .swiper-slide {
    width: 28rem !important;
    height: 36rem !important;
  }
  .swiper-slide img {
    width: 28rem !important;
    height: 36rem !important;

  }
}

 /* active slide  */
.swiper-slide img {
  width: 37rem;
  height: 42rem;
  border-radius: 2rem;
  object-fit: cover;
}

/* swiper defalut shadow none */
.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}
.btn{
  padding: 10px;
  background-color: red;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 500;
  margin-top: 2rem;
}
.rightSection{
  width: 50%;
}